/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 15px;
    margin: auto;
    overflow: hidden;
  }

  #nav {
    align-items: flex-end;
    margin: 2rem auto;
    width: 740px;
    .right {
      .avatar {
        width: 50px;
        height: 50px;
      }
      .toggle {
        display: none;
      }
      .menu{
        display: flex;
        align-items: center;
        position: relative;
        background: none;
        top: 0;
        height: unset;
        margin-right: 1rem;
        a{
          display: inline-block;
          color: #000;
          width: unset;
          font-size: large;
        }
        a:first-child{
          margin-top: 0;
        }
      }
    }
  }

  #payment-details {
    .payment {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;

      .details{
        .payment-method{
          margin-bottom: 2.5rem;
        }
        .remember{
          margin-bottom: 1rem;
        }
      }

      .card {
        max-width: 300px;
      }
    }
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #nav{
    width: 992px;
  }
  .container {
    max-width: 960px;
    padding: 0 15px;
    margin: auto;
    overflow: hidden;
  }

  #payment-details{
    .payment{
      .card-display{
        .card{
          max-width: 368px;
          p{
            margin: .5rem;
          }
        }
      }
    }
  }

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  #nav{
    width: 1195px;
  }
  .container {
    max-width: 1140px;
    padding: 0 15px;
    margin: auto;
    overflow: hidden;
  }
}
