/*default variables*/
/*general page styles*/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Roboto, sans-serif;
  font-size: 0.875rem; }
  body.no-scroll {
    overflow: hidden; }

p {
  line-height: 1.6; }

img {
  width: 100%; }

a {
  text-decoration: none; }

input[type=text],
input[type=number] {
  padding: 1rem;
  border: solid 2px #e0e2e5;
  background: #f0f1f3;
  width: 100%;
  font-family: 'Lora', sans-serif;
  letter-spacing: 1px;
  margin-bottom: .7rem;
  outline: none;
  border-radius: 3px; }

.btn {
  display: inline-block;
  border: none;
  cursor: pointer;
  padding: 0.9rem 0.9375rem;
  line-height: 1;
  letter-spacing: 1px;
  font-size: 0.8125rem;
  color: #fff;
  background: #3f67e9;
  text-align: center;
  border-radius: 3px; }

.block {
  display: block;
  width: 100%; }

.line {
  width: 100%;
  height: 1px;
  border: solid 1px #e9e9e9;
  margin: 2rem 0; }

.gray {
  color: #7d7d7d; }

.container {
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; }

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  position: relative;
  height: 40px;
  margin: 1rem auto; }
  #nav .logo {
    width: 100px;
    flex: 4;
    margin-left: 1rem; }
    #nav .logo img {
      width: 90px;
      height: 30px; }
  #nav .right {
    display: flex;
    flex: 8;
    justify-content: flex-end;
    align-items: center; }
    #nav .right .menu {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 36px;
      margin: 1rem 0 0 0;
      height: calc(100vh - 40px);
      text-align: center;
      background: #000;
      font-weight: bold;
      z-index: 5; }
      #nav .right .menu a {
        display: block;
        width: 100%;
        padding: .5rem;
        color: #fff;
        font-size: large; }
        #nav .right .menu a:hover {
          color: #ff0303; }
      #nav .right .menu a:first-child {
        margin-top: 1rem; }
      #nav .right .menu.show {
        display: block; }
    #nav .right .avatar {
      margin-right: 1rem;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      overflow: hidden; }
    #nav .right .toggle {
      margin-right: 1rem; }

#payment-details .payment {
  margin: 1rem 0; }
  #payment-details .payment .card-display h3 {
    margin-bottom: .5rem; }
  #payment-details .payment .card-display .card {
    margin: 1rem 0;
    padding: .7rem;
    color: #fff;
    position: relative;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px black;
    -moz-box-shadow: 0px 0px 10px 0px black;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border: none;
    background: linear-gradient(48deg, #dc5645, #6063c7 106%); }
    #payment-details .payment .card-display .card p {
      height: 22px; }
    #payment-details .payment .card-display .card .card-chip {
      width: 50px;
      height: 50px; }
    #payment-details .payment .card-display .card .bottom {
      display: flex;
      justify-content: space-between;
      flex: 1;
      position: relative; }
      #payment-details .payment .card-display .card .bottom .mastercard {
        position: absolute;
        width: 70px;
        right: 5px;
        bottom: 3px; }
      #payment-details .payment .card-display .card .bottom p {
        flex: 1; }
      #payment-details .payment .card-display .card .bottom img {
        flex: 1; }
  #payment-details .payment .details .payment-method {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    height: 21px; }
    #payment-details .payment .details .payment-method .visa {
      width: 40px; }
    #payment-details .payment .details .payment-method .discover {
      width: 87px; }
    #payment-details .payment .details .payment-method .paypal {
      width: 67px; }
  #payment-details .payment .details .remember {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
    position: relative; }
    #payment-details .payment .details .remember span:first-child {
      margin-left: 24px; }
    #payment-details .payment .details .remember .checkbox {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #7d7d7d;
      border-radius: 50%; }
  #payment-details .payment .details input#remember:checked ~ .checkbox {
    background: #3f67e9;
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 50%; }
  #payment-details .payment .details input#remember:checked ~ .checkbox::after {
    content: '';
    height: 8px;
    position: absolute;
    width: 8px;
    top: 30%;
    left: 30%;
    border-radius: 50%;
    background: #fff; }

#payment-details .summary h4 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem; }

#payment-details .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem; }
  #payment-details .total span {
    font-weight: bold;
    font-size: large; }

/*responsive styles*/
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 15px;
    margin: auto;
    overflow: hidden; }
  #nav {
    align-items: flex-end;
    margin: 2rem auto;
    width: 740px; }
    #nav .right .avatar {
      width: 50px;
      height: 50px; }
    #nav .right .toggle {
      display: none; }
    #nav .right .menu {
      display: flex;
      align-items: center;
      position: relative;
      background: none;
      top: 0;
      height: unset;
      margin-right: 1rem; }
      #nav .right .menu a {
        display: inline-block;
        color: #000;
        width: unset;
        font-size: large; }
      #nav .right .menu a:first-child {
        margin-top: 0; }
  #payment-details .payment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem; }
    #payment-details .payment .details .payment-method {
      margin-bottom: 2.5rem; }
    #payment-details .payment .details .remember {
      margin-bottom: 1rem; }
    #payment-details .payment .card {
      max-width: 300px; } }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #nav {
    width: 992px; }
  .container {
    max-width: 960px;
    padding: 0 15px;
    margin: auto;
    overflow: hidden; }
  #payment-details .payment .card-display .card {
    max-width: 368px; }
    #payment-details .payment .card-display .card p {
      margin: .5rem; } }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  #nav {
    width: 1195px; }
  .container {
    max-width: 1140px;
    padding: 0 15px;
    margin: auto;
    overflow: hidden; } }
